@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 5%;
    background: seagreen;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.social-media{
    margin: 0 auto 0 50px;
}

.social-media a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.social-media a i{
    font-size:20px;
    color: white;
    transition: .5s;

}

.social-media a:hover {
    background: white;
}

.social-media a:hover i{
    color: seagreen;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    text-shadow:  0 0 10px rgba(0,0, 0,.2);
   
}

